<div class="border-bottom border-light border-5 row" style="margin-bottom:16px; padding-bottom:8px; margin-left:10%; margin-right:10%;">
  <div class="col-4" style="text-align:left;">
    <h1 class="img-fluid rounded mx-auto text-center text-add-big-border" style="max-width: fit-content;">
      {{job['title']}}
    </h1>
    <div>
      <h5 class="img-fluid rounded mx-auto text-center text-add-border text-background-blur" style="max-width: fit-content;color:white;">Position: {{job['position']}}</h5>
    </div>
    <div>
      <h5 class="img-fluid rounded mx-auto text-center text-add-border text-background-blur" style="max-width: fit-content;color:white;">Location: {{job['location']}}</h5>
    </div>
  </div>
    <div class="col-8">
      <h5 class="img-fluid rounded mx-auto text-center text-add-border" style="max-width: fit-content;color:white;" >Description: </h5><p class="img-fluid rounded mx-auto text-center text-background-blur " style="max-width: fit-content;">{{job['description']}}</p>
    </div>
  <div>
    <button type="button" style="margin-top:20px;margin-bottom:10px;" class="btn btn-warning btn-lg text-add-border"><a style="text-decoration:none" href="/workexperience"><h3>More Info</h3></a></button>
  </div>
</div>
  