<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-lg" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <img class="img-fluid rounded" src="http://career-website-deneme.muratayar.repl.co/static/murat_vesika.ico" style="width:30px;margin-left:5px;margin-rigth:20px;">
    <a style="margin-left:10px;" class="navbar-brand" href="">Murat Ayar's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a href="https://www.linkedin.com/in/murat-ayar-455017227/">
          <img class="img-fluid rounded" style="width:40px;height:40px;margin-left:10px;"src="http://career-website-deneme.muratayar.repl.co/static/linkedin_logo.png" href="https://www.linkedin.com/in/murat-ayar-455017227/">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/murat-ayar-455017227/">LinkedIn</a>
        </li>
       
        <a href="https://www.linkedin.com/in/murat-ayar-455017227/">
          <img class="img-fluid rounded" style="width:40px;height:40px;margin-left:10px;"src="http://career-website-deneme.muratayar.repl.co/static/github-mark-white.png" href="https://www.linkedin.com/in/murat-ayar-455017227/">
        </a>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/MuratAyar">GitHub</a>
        </li>
        <div class="btn-group">
          <button type="button" style="margin-left:10px;" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            My Navigation
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About Me</a></li>
            <li><a class="dropdown-item" href="#">My Projects</a></li>
            <li><a class="dropdown-item" href="#">Work Experiences</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Contact Information</a></li>
          </ul>
        </div>
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
<div style="height:56px"> </div>