<nav class="border-bottom navbar navbar-expand-lg navbar-dark fixed-top shadow-lg" aria-label="Fifth navbar example">
  <div class="container-fluid">
    
    <a style="margin-left:10px;" class="navbar-brand" href=""><h1 class="text-add-border">MAP - Murat Ayar's Portfolio</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a href="https://www.linkedin.com/in/murat-ayar-455017227/">
          <img class="img-fluid rounded" style="width:70px;height:70px;margin-left:30px;"src="http://career-website-deneme.muratayar.repl.co/static/linkedin_logo.png" href="https://www.linkedin.com/in/murat-ayar-455017227/">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/murat-ayar-455017227/"><h3 class="text-add-border">LinkedIn</h3></a>
        </li>
        <a href="https://github.com/MuratAyar">
          <img class="img-fluid rounded" style="width:70px;height:70px;margin-left:30px;"src="http://career-website-deneme.muratayar.repl.co/static/github-mark-white.png">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/MuratAyar"><h3 class="text-add-border">GitHub</h3></a>
        </li>
        <div class="btn-group" style="display: flex; justify-content: end;height:70px; margin-left: 200px; margin-right: 0;">
          <button type="button " style="margin-left: auto; margin-right: 0;" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>My Navigation v</h3>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><h5>About Me</h5></a></li>
            <li><a class="dropdown-item" href="#"><h5>My Projects</h5></a></li>
            <li><a class="dropdown-item" href="#"><h5>Work Experiences</h5></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><h5>Contact Information</h5></a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
<div style="height:56px"> </div>
<script>
  const navEl = document.querySelector('.navbar');

  window.addEventListener('scroll', () => {
    if (window.scrollY >= 56) {
      navEl.classList.add('navbar-scrolled');
    } else if (window.scrollY < 56){
      navEl.classList.remove('navbar-scrolled');
    }
  });
</script>