.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.yazi-stilim {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 1.5;
  color: red;
}

h2 {
  color:red;
}